@import url("./Stili/Container.css");
@import url("./Stili/CardPopover.css");
@import url("./Stili/Footer.css");
@import url("./Stili/NavBar.css");

body {
  margin: 0px;
  overflow-x: hidden;
}

h1 {
  color: #059862;
}

.banner {
  text-align: center;
  margin: 5px 20px;
}

a {
  text-decoration: none;
}

.full-width {
  max-width: 100%;
  width: 100%;
}
