.layout-container {
  display: flex;
  max-width: 100%;
  gap: 15px;
  margin: 10px;
}

.container {
  border: 1px solid #059862;
  padding: 0px 20px;
  text-align: justify;
  box-sizing: border-box;
}

.side-panel {
  max-width: 300px;
}

.main-panel {
  width: 100%;
  padding-bottom: 15px;
}

.main-panel .cards {
}

@media (max-width: 600px) {
  .layout-container {
    flex-direction: column;
  }
  .side-panel {
    width: 100%;
    max-width: 100%;
  }
}
