.footer {
  position: fixed;
  bottom: 0;
  background-color: var(--dark-tertiary);
  width: 100%;
  max-width: 100%;
  height: 50px;
  justify-content: space-around;
  display: flex;
}

.footer span {
  margin: 0;
  padding: 20px;
  color: var(--dark-primary);
}
.footer a {
  color: var(--dark-primary);
}

.footer a:hover {
  color: var(--dark-secondary);
  transition: 0.2s;
}
